@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@900&family=Open+Sans:wght@300&display=swap');

/* https://fonts.googleapis.com/css2?family=Oswald:wght@900&family=Open+Sans:wght@300&display=swap */


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: #000000;
    font-weight: lighter;
} 



/* Headings and logo */ 

h1, h2 {
    font-family: Oswald;
    letter-spacing: 1px;
    color: #000000;   
} 


#logo {
    float: left; 
    font-size: 260%;
    margin-left: 5px;
} 

#menu {
    font-size: 120%;
    letter-spacing: 1px;
} 

#menu, #logo {
    line-height: 50px;
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 30px; 
} 

#menu a {
    text-decoration: none;
    color: inherit;
} 

#menu a:hover {
    border-bottom: 1px solid #000000;
} 

.active {
    border-bottom: 1px solid #000000;
}

/* hero-image */

#clear-header {
    height: 800px;
    width: 100%;
    clear: both;

    position: relative;

}

#cover-quote, #cover-quote h2 {
    color: #fff;
    font-style: italic;
}

#hero-image {
    height: 800px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-color: #000000;
} 

/* Cover quote/price info */
#cover-quote, #price-info {
    position: absolute;
    top: 30%;
    left: 17%;
    transform: translate(-50%, -50%); 
    width: 30%;
    height: 30%; 
} 

/* Transparent box around */
#cover-quote {
    width: 28%;
    height: 14%;

    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;

    background-color: rgba(6, 6, 8, 0.753); 

    bottom: 15%;
    left: 21%;
    

    position: absolute; 

    border-radius: 10%;
}



/* About us cover text box (about us page) */

#about-us-cover, #about-us-cover h2, #about-us-cover h3 {
    color: #fff;
}


/* social media links in footer */

footer {
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
} 

.social-media-links {
    text-align: center;
    
}

.social-media-links > li {
    display: inline;
    
}

.social-media-links i {
    font-size: 190%;
    margin: 1%;
    padding: 1%;
    color: #000000;
} 


/* About us cover text box */

#about-us-cover {
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 1px;
    text-align: center;

    width: 30%;
    height: 45%;

    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;

    background-color: rgba(6, 6, 8, 0.753); 

    bottom: 30%;
    left: 35%;

    position: absolute; 
    
    border-radius: 10%;
} 

.about-header {
    color: #fff;
    font-size: 24px;
}


/* Button About us cover box, button submit contact form */

#button-about-us, #button-submit {
    padding: 4px;
    margin: 12px 2px;
    border-radius: 10%;
}


#button-about-us:hover, #button-submit:hover {
    background-color: #fff;
    color: #000000;
    border: 1px solid #000000;
} 




/* Price information on Get in touch page */
 
#price-info h2 {
    color: #fff;
    font-size: large;
}

/* Transparent background to Price information */

#price-info {
    width: 30%;
    height: 20%;

    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;

    background-color: rgba(6, 6, 8, 0.753); 

    bottom: 15%;
    left: 17%;
    

    position: absolute; 

    border-radius: 10%;
}

/* Get in touch transparent box */

#get-in-touch-cover {
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 1px;
    

    width: 13.5%;
    height: 60%;

    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;

    background-color: rgba(6, 6, 8, 0.753); 

    bottom: 20%;
    left: 41.5%;

    position: absolute; 
    
    border-radius: 10%;
}

/* Contact form on Get in touch page */ 

.form-get-in-touch {
    color: #fff;
    font-size: 24px;
}



#contact-form {
    color: #fff;
    font-size: 14px;
    position: relative;
} 

#comment {
    position: relative;
} 

#contact-form input, #comment {
    width: 100%;
}




/* Media queries */

/* For big desktop to larger desktop screen size 1699px and down */
@media screen and (max-width: 1699px) {
    #get-in-touch-cover {
    width: 15%;
    
    
    } 
    
    #price-info {
    height: 27%;
    
    } 

  
    #about-us-cover {
        height: 46%;
    
    } 

} 


/* For larger desktop to medium desktop screen size 1650px and down */
@media screen and (max-width: 1650px) {
    #get-in-touch-cover {
    width: 15%;
    height: 61%;

    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;

    }  
    

    #price-info {
        height: 30%;
    
    } 

    #about-us-cover {
        font-size: 12.5px;
        
        width: 38%;
        height: 48%;
    
        padding-right: 3%;
    
        bottom: 25%;
        left: 30%;
    
    } 

} 


/* For smaller desktop size 1200px and down */
@media screen and (max-width: 1200px) {
    #get-in-touch-cover {
        font-size: 8px;
        width: 20%;
        height: 58%;

        padding-top: 3%;
        padding-left: 3%;
        padding-right: 3%;

    }  
    
  
    #about-us-cover {
        font-size: 12.5px;
        
        width: 38%;
        height: 49%;
    
        padding-right: 3%; 
    
        bottom: 25%;
        left: 31%;
    
    } 

    #price-info {
        width: 34%;
        height: 30%;
    
        left: 20%;
        
    } 

} 


/* For medium desktop screen size 1145px and down */
@media screen and (max-width: 1145px) {
    #get-in-touch-cover {
        font-size: 8px;
    
        width: 20%;
        height: 60%;

        padding-top: 3%;
        padding-left: 3%;
        padding-right: 4%;
    
    }  
    

    #about-us-cover {
        width: 41%;
        height: 49%;
    
        padding-right: 3%;
    
        bottom: 25%;
        left: 28%;
    
    } 

} 




/* For medium desktop screen size 1045px and down */
@media screen and (max-width: 1045px) {
    #get-in-touch-cover {
        font-size: 10px;
    
        width: 15%;

        padding-top: 3%;
        padding-left: 3%;
        padding-right: 4%;
        padding-bottom: 3%;

    }  
    

    #price-info {
        width: 32%;
        height: 31%;
    
        left: 20%;
        
    } 


    #cover-quote {
        width: 30%;
        height: 17%;
    
        left: 21.5%;
        
    }
        

} 


/* For screen size 1000px and down */ 
@media screen and (max-width: 1000px) {
    #get-in-touch-cover {
        font-size: 5px;
    
        width: 20%;
        height: 58%;
    
        padding-top: 2%;
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 2%;
    
        bottom: 4%;
        left: 37%;
    
        } 


    .form-get-in-touch {
        font-size: 18px;
    } 


    #price-info {
        height: 21%;
    
        padding-top: 2%;
    
        left: 50%;
        top: 20%;
        
    } 

    #price-info h2 {
        font-size: small;
    } 


    #about-us-cover {
        width: 46%;
        height: 54%;
    
        padding-top: 3%;
    
        bottom: 20%;
        left: 28%;
    
    } 


    #cover-quote {
        width: 32%;
        height: 15%;
    
        left: 25%;
        
    }

        
} 


/* For screen size 950px and down, Nav bar center */
@media screen and (max-width: 950px) {
    #logo {
        font-size: 220%;
    } 

    #menu {
        font-size: 115%;
    } 
        
}




/* For screen size 800px and down */
@media screen and (max-width: 800px) { 
    #get-in-touch-cover {
        font-size: 5px;
          
        width: 40%;
        height: 56%;
    
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 2%;
    
        bottom: 8%;
        left: 27%;
        } 


    #price-info {
        width: 45%;
        height: 21%;
        
        padding-top: 2%;
        padding-right: 2%;
        
        left: 50%;
        top: 20%;
        } 

    
    #about-us-cover {
        font-size: 11px;
        
        width: 64%;
        height: 42%;
        
        padding-top: 4%;
        
        bottom: 29%;
        left: 20%;
        } 

    
    .about-header {
        font-size: 22px;
        }
     
    
    #cover-quote {
        width: 38%;
        height: 18%;
        
        left: 30%;
        }


    #logo {
        font-size: 212%;
    }

} 


/* For screen size 650px and down */
@media screen and (max-width: 650px) {
    #logo {
        font-size: 180%;
    }
    

    #menu {
        font-size: 110%;
    } 


    #menu li {
        margin-right: 15px; 
    } 


    #cover-quote {
        width: 42%;
        height: 21%;
        
        padding-top: 2%;
        
        left: 30%;
        }


    #about-us-cover {
        font-size: 11px;
               
        width: 69%;
        height: 45%;
                
        padding-top: 4%; 
                
        bottom: 27%;
        left: 14%;
        }
     
        
    #price-info {
        width: 50%;
        height: 23%;
            
        padding-top: 2%;
        padding-right: 2%;
            
        left: 50%;
        top: 20%;
        }
        
    #get-in-touch-cover {
        font-size: 5px;
                    
        width: 38%;
        height: 57%;
                
        padding-top: 5%;
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 1%;
                
        bottom: 4%;
        left: 28%;
        } 

} 


/* For screen size 470px and down */
@media screen and (max-width: 470px) {
    #cover-quote {
        width: 63%;
        height: 21%;
        
        padding-top: 4%;
        
        left: 37%;
        } 


    #logo {
        font-size: 145%;
        } 


    #menu {
        font-size: 100%;
        }


    #menu li {
        margin-right: 8px; 
        } 


    #about-us-cover {
        font-size: 11px;
            
        width: 84%;
        height: 48%;
            
        padding-top: 4%;
            
        bottom: 25%;
        left: 8%;
        } 

    #price-info {
        width: 75%;
        height: 21%;
                
        padding-top: 2%;
        padding-right: 2%; 
                
        bottom: 20%;
        left: 50%;
        top: 20%;
        }


    #get-in-touch-cover {
        font-size: 5px;
                 
        width: 65%;
        height: 60%;
            
        padding-top: 4%;
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 2%;
            
        bottom: 4%;
        left: 15%;    
        } 
    
} 


/* For screen size 400px and down */
@media screen and (max-width: 400px) {
    #logo {
        font-size: 123%;
        } 

    #menu {
        font-size: 93%;
        }

}


/* For screen size 355px and down */
@media screen and (max-width: 355px) {
    #logo {
        font-size: 115%;
        } 


    #menu {
        font-size: 80%;
        }


    #menu li {
        margin-right: 5px; 
        }
    
        
    .social-media-links i {
        font-size: 150%;
        } 
        
    #about-us-cover {
        font-size: 11px;
                
        width: 82%;
        height: 54%;
                
        padding-top: 4%;
                
        bottom: 25%;
        left: 6%;
        }

    #get-in-touch-cover {
        font-size: 5px;
            
        width: 70%;
        height: 58%;
        
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 2%;
        
        bottom: 6%;
        left: 12%;   
        }

        
    #cover-quote {
        width: 63%;
        height: 21%;
            
        padding-top: 4%;
            
        left: 37%;
        } 
    
}

/* For screen size 320px and down */
@media screen and (max-width: 320px) {
    #logo {
        font-size: 100%;
        } 


    #menu {
        font-size: 80%;
        } 


    #price-info {
        width: 75%;
        height: 25%;
                    
        padding-top: 2%;
        padding-right: 2%;
                    
        bottom: 20%;
        left: 50%;
        top: 20%;
        }

}



