@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@900&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Open+Sans, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
} 

/* Headings and logo */ 

h1, h2 {
    font-family: Oswald, sans-serif;
    letter-spacing: 1px;
    color: #252525;
} 

#logo {
    float: left;
    font-size: 260%;
} 

#menu {
    font-size: 110%;
    letter-spacing: 1px;
} 

#menu, #logo {
    line-height: 45px;
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 30px;
} 

#menu a {
    text-decoration: none;
    color: inherit;
} 

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
} 

.active {
    border-bottom: 1px solid #3a3a3a;
}