@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@900&family=Open+Sans:wght@300&display=swap');



* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Open+Sans, sans-serif;
    font-weight: 300;
    color: #000000;
    font-weight: lighter;
} 

/* Headings and logo */ 

h1, h2 {
    font-family: Oswald, sans-serif;
    letter-spacing: 1px;
    color: #000000;   
} 


#logo {
    float: left;
    font-size: 260%;
} 

#menu {
    font-size: 110%;
    letter-spacing: 1px;
} 

#menu, #logo {
    line-height: 70px;
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 30px;
} 

#menu a {
    text-decoration: none;
    color: inherit;
} 

#menu a:hover {
    border-bottom: 1px solid #000000;
} 

.active {
    border-bottom: 1px solid #000000;
}

/* hero-image */

#clear-header {
    height: 800px;
    width: 100%;
    clear: both;

}

#cover-quote, #cover-quote h1 {
    color: #fff;
    font-style: italic;
}

#hero-image {
    height: 800px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
} 

/* Cover quote */
#cover-quote {
    position: absolute;
    top: 40%;
    left: 17%;
    transform: translate(-50%, -50%);  
} 


/* social media links in footer */

footer {
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
} 

.social-media-links {
    text-align: center;
    
}

.social-media-links > li {
    display: inline;
    
}

.social-media-links i {
    font-size: 190%;
    margin: 1%;
    padding: 1%;
    color: #000000;
}